body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(95, 177, 95);
}

#dealer-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

#player-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

@keyframes color-rotate {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}
button:hover {
    animation: color-rotate 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

